li {
    cursor: pointer;
}

button.iekbcc0.iekbcc9.ju367v6x.ju367v7i.ju367v81.ju367v6a.ju367v93.ju367vn.ju367vdr.ju367vec.ju367v11.ju367v1c.ju367v8i._12cbo8i3.ju367v8g._12cbo8i4._12cbo8i6 {
    height: 50px;
    text-align: center;
    display: flex;
    background: #212224 !important;
    font-family: 'Century Gothic serif', serif !important ;
    border: 1px solid #212224;
    color: white !important;
    align-items: center;
    transition: ease-in-out 0.15s;
}

button.iekbcc0.iekbcc9.ju367v6v.ju367v7g.ju367v80.ju367v69.ju367v4.ju367v9o.ju367vn.ju367vdr.ju367vf3.ju367vb.ju367va.ju367v11.ju367v1c.ju367v1k.ju367v8i._12cbo8i3.ju367v8g._12cbo8i4._12cbo8i6 {
    border-radius: 0;
}
button.iekbcc0.iekbcc9.ju367v4.ju367v9o.ju367vn.ju367vdr.ju367vf3.ju367va.ju367v11.ju367v1c.ju367v8i._12cbo8i3.ju367v8g._12cbo8i4._12cbo8i6 {
    border-radius: 0;
}